registry=https://registry.npmjs.org/
strict-ssl=false
cache=.npm-cache
prefer-offline=true
network-timeout=300000
maxsockets=1
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000 